---
import type { GetStaticPaths } from "astro";
import Layout from 'src/layouts/Layout.astro';
import {siteConfig} from "@utils/Config";
import CtaBlog from  "@components/CtaBlog.astro";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import TypeBlogpost from "src/components/TypeBlogpost.astro";
import { Icon } from "astro-icon/components";
import Cta from "@components/Cta.astro";
const { blogPosts, author } = Astro.props;

export const getStaticPaths = (async() => {
    const [authors, posts] = await Promise.all([getCollection('author'),getCollection('blog')]);
    return authors.map(author=>({
        params:{
            author:author.id
        },
        props:{
            author:author.data,
            blogPosts:posts.filter(post => post.data.author.id === author.id)
        }
    }));
}) satisfies GetStaticPaths;

---

<Layout title={`Blog del autor ${author.name}`}>
  <section class="bg-gray-900">
    <div class="container px-6 py-10 mx-auto">
      <div class="text-md text-gray-400 mb-0 flex flex-row mt-4">
        <Image
          class="rounded-full object-cover min-w-[100] block"
          src={author.avatar}
          alt={author.name}
          width={100}
          height={100}
        />

        <div class="flex flex-col ml-5">
          <h1 class="text-amber-50 text-4xl">{author.name}</h1>
          <span class="text-2xl text-amber-50 mt-4 mb-4">Listado de todos mis posts</span>
        </div>
      </div>

      <div class="grid grid-cols-1 gap-8 mt-8 md:mt-16 md:grid-cols-2">
        {blogPosts.map((post) => <TypeBlogpost post={post} />)}
      </div>
    </div>
  </section>
  <CtaBlog title="Explora nuestros artículos y tutoriales" />
  <Cta title={'¡Suscríbete a nuestro RSS!'} text={'¿Qué es RSS? Es una forma sencilla de recibir todas las novedades de nuestro blog directamente en tu lector de noticias. ¡Suscríbete ahora!'} textbtn={'Suscríbete'} url={`${siteConfig.basepath}rss.xml`}/>
</Layout>

